{
  "openapi": "3.1.0",
  "info": {
    "title": "Basecone API",
    "description": "Basecone is a document processing and accounting platform by Wolters Kluwer.\nThis API provides access to manage suppliers, customers, transactions, documents,\nand other accounting-related resources.\n\n## Authentication\nThe API supports two authentication methods:\n- **Basic Authentication**: Use your Client ID and API Access Key\n- **Bearer Token**: Obtain a JWT token via the authentication endpoint\n\n## Date/Time Format\nAll dates and times are in UTC using ISO 8601 format.\n\n## Pagination\nCollection endpoints support `limit` and `offset` query parameters.\nResponses include `_metadata` with `total` and `count` fields.\n",
    "version": "1.0.0",
    "contact": {
      "name": "Basecone Support",
      "email": "basecone.support@wolterskluwer.com"
    },
    "x-logo": {
      "url": "https://developers.basecone.com/images/basecone-logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.basecone.com/v1",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication and token management"
    },
    {
      "name": "Office",
      "description": "Office information"
    },
    {
      "name": "Accounting Systems",
      "description": "Connected accounting systems management"
    },
    {
      "name": "Companies",
      "description": "Company management"
    },
    {
      "name": "Suppliers",
      "description": "Supplier management"
    },
    {
      "name": "Customers",
      "description": "Customer management"
    },
    {
      "name": "Transactions",
      "description": "Transaction operations"
    },
    {
      "name": "Transaction Proposals",
      "description": "Transaction proposal management (Premium)"
    },
    {
      "name": "Documents",
      "description": "Document management and import"
    },
    {
      "name": "General Ledgers",
      "description": "General ledger accounts"
    },
    {
      "name": "VAT Codes",
      "description": "VAT code management"
    },
    {
      "name": "VAT Specifications",
      "description": "VAT Specification management (Belgium Accounting Systems only)"
    },
    {
      "name": "VAT Periods",
      "description": "VAT Period management (Belgium Accounting Systems only)"
    },
    {
      "name": "Cost Centers",
      "description": "Cost center management"
    },
    {
      "name": "Cost Units",
      "description": "Cost unit management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Periods",
      "description": "Accounting period management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Authorization",
      "description": "Document authorization workflow (Premium)"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/authentication/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request Bearer Token",
        "description": "Obtain a JWT bearer token for API authentication",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "example": {
                "username": "user@example.com",
                "password": "password123",
                "officeCode": "myoffice",
                "clientId": "00000000-0000-0000-0000-000000000000",
                "clientSecret": "mysecret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/office": {
      "get": {
        "tags": [
          "Office"
        ],
        "summary": "Get Office Details",
        "description": "Returns the office details of the current office the API key has access to",
        "responses": {
          "200": {
            "description": "Office details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Office"
                },
                "example": {
                  "id": "07ec4ac1-457c-4ad8-a00c-819cf7beecea",
                  "name": "My Office",
                  "code": "myoffice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accountingsystems": {
      "get": {
        "tags": [
          "Accounting Systems"
        ],
        "summary": "List Accounting Systems",
        "description": "Returns a list of accounting systems connected to the current office",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounting systems",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingSystemCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accountingsystems/{accountingSystemId}/connectable-companies": {
      "get": {
        "tags": [
          "Accounting Systems"
        ],
        "summary": "List Connectable Companies",
        "description": "Returns a list of companies available in a specific accounting system that can be connected",
        "parameters": [
          {
            "name": "accountingSystemId",
            "in": "path",
            "required": true,
            "description": "Accounting system unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of connectable companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectableCompanyCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Companies",
        "description": "Returns a list of companies as a collection",
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "description": "External company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional fields to retrieve",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create Company",
        "description": "Creates a new company connected to an accounting system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreateRequest"
              },
              "example": {
                "accountingSystemId": "00000000-0000-0000-0000-000000000000",
                "externalId": "admin123",
                "localPartEmailCode": "company1",
                "code": "COMP001",
                "name": "My Company"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get Company Details",
        "description": "Returns details on a specific company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional fields to retrieve",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "List Suppliers",
        "description": "Returns a list of suppliers as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "External supplier unique identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Create Supplier",
        "description": "Creates a new supplier in your company",
        "parameters": [
          {
            "name": "skipCreationInAccountingSystem",
            "in": "query",
            "description": "Flag to skip creating the supplier in the accounting system",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Supplier created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supplierId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/suppliers/{id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Get Supplier Details",
        "description": "Returns details on a specific supplier",
        "parameters": [
          {
            "$ref": "#/components/parameters/supplierId"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supplier"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Update Supplier",
        "description": "Updates a supplier in your company",
        "parameters": [
          {
            "$ref": "#/components/parameters/supplierId"
          },
          {
            "name": "skipCreationInAccountingSystem",
            "in": "query",
            "description": "Flag to skip updating the supplier in the accounting system",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Supplier updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Delete Supplier",
        "description": "Deletes a specific supplier by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/supplierId"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/suppliers/delete/bulk": {
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Bulk Delete Suppliers",
        "description": "Deletes a collection of suppliers by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of supplier IDs to delete"
              },
              "example": [
                "00000000-0000-0000-0000-000000000001",
                "00000000-0000-0000-0000-000000000002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppliers deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/suppliers/external/{companyExternalId}/{supplierExternalId}": {
      "delete": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Delete Supplier by External ID",
        "description": "Removes a supplier from a specific company using external identifiers",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the supplier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/suppliers/delete/external/bulk/{companyExternalId}": {
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Bulk Delete Suppliers by External ID",
        "description": "Deletes a collection of suppliers by external IDs from a specific company",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of supplier external IDs to delete"
              },
              "example": [
                "supplier-ext-001",
                "supplier-ext-002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppliers deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List Customers",
        "description": "Returns a list of customers as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "External customer unique identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer",
        "description": "Creates a new customer in your company",
        "parameters": [
          {
            "name": "skipCreationInAccountingSystem",
            "in": "query",
            "description": "Flag to skip creating the customer in the accounting system",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customer Details",
        "description": "Returns details on a specific customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Customer",
        "description": "Updates a customer in your company",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "name": "skipCreationInAccountingSystem",
            "in": "query",
            "description": "Flag to skip updating the customer in the accounting system",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Customer updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete Customer",
        "description": "Deletes a specific customer by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/delete/bulk": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Bulk Delete Customers",
        "description": "Deletes a collection of customers by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of customer IDs to delete"
              },
              "example": [
                "00000000-0000-0000-0000-000000000001",
                "00000000-0000-0000-0000-000000000002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customers deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers/delete/external/bulk/{companyExternalId}": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Bulk Delete Customers by External ID",
        "description": "Deletes a collection of customers by external IDs belonging to a specific company",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of customer external IDs to delete"
              },
              "example": [
                "customer-ext-001",
                "customer-ext-002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customers deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List Transactions",
        "description": "Returns a list of transactions as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "description": "Filter by Customer or Supplier (Sales/Purchases only)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionNumber",
            "in": "query",
            "description": "Filter by transaction number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionDate",
            "in": "query",
            "description": "Transaction date filter (format yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "totalAmount",
            "in": "query",
            "description": "Total amount filter (format 0.00)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "bookYear",
            "in": "query",
            "description": "Book year from period",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "Relation",
                "TransactionNumber",
                "TransactionDate",
                "TotalAmount",
                "BookYear"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Transaction Details",
        "description": "Returns details on a specific transaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/transactionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Transactions"
        ],
        "summary": "Update Transaction",
        "description": "Updates a transaction booking number. User must be SuperUser or have Accountant/SMEAccountant role.",
        "parameters": [
          {
            "$ref": "#/components/parameters/transactionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionUpdate"
              },
              "example": {
                "number": "2024-001234",
                "comment": "Updated booking reference"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Transaction updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/transactionproposals/{id}": {
      "get": {
        "tags": [
          "Transaction Proposals"
        ],
        "summary": "Get Transaction Proposal",
        "description": "Returns details on a specific transaction proposal (Premium APPs only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Transaction proposal unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction proposal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionProposal"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Transaction Proposals"
        ],
        "summary": "Update Transaction Proposal",
        "description": "Updates a transaction proposal (Premium APPs only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Transaction proposal unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionProposalUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Transaction proposal updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactionproposals/{id}/markbooked": {
      "post": {
        "tags": [
          "Transaction Proposals"
        ],
        "summary": "Mark Transaction Proposal as Booked",
        "description": "Marks a transaction proposal as booked with a booking number. Premium APPs only. Cannot mark documents from archive companies.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Transaction proposal unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkBookedRequest"
              },
              "example": {
                "number": 20150003,
                "journal": "PNV"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction proposal marked as booked"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List Documents",
        "description": "Returns a list of documents as a collection. Can filter by company.",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "Filter by company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "CreatedOn",
                "ModifiedOn"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document Details",
        "description": "Returns details on a specific document",
        "parameters": [
          {
            "$ref": "#/components/parameters/documentId"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional fields to retrieve",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "getAnalyticalLedgersFullName",
            "in": "query",
            "description": "Retrieves General ledger fields as \"Code - Name\"",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/visual/{page}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Download Document Page Image",
        "description": "Downloads an image of a specific document page for viewing. Returns JPEG image.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page number (1-indexed)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document page image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/tag": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Tag Document",
        "description": "Tags a document with a specific document type tag",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTagRequest"
              },
              "example": {
                "tag": {
                  "code": "PNV"
                },
                "costCenter": "00000000-0000-0000-0000-000000000000",
                "project": "00000000-0000-0000-0000-000000000000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document tagged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Possible warnings (e.g., not_ocr_capable_exceeds_size_limit)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/abandon": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Abandon Document",
        "description": "Abandons a document. Documents can only be abandoned when not in a final state or not being processed.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentAbandonRequest"
              },
              "example": {
                "reason": "Duplicate document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document abandoned successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/comments": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document Comments",
        "description": "Returns a list of comments for a specific document",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of document comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCommentCollection"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/workflow": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document Workflow History",
        "description": "Retrieves the complete workflow history for a document, showing all state transitions and related user information",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document workflow history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentWorkflowHistoryCollection"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/import": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Import Document",
        "description": "Imports a document into Basecone",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more files to import"
                  },
                  "key": {
                    "type": "string",
                    "description": "Metadata type identifier"
                  },
                  "value": {
                    "type": "string",
                    "description": "Metadata text value"
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document imported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "documentId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/documents/{documentId}/artifacts": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Document Artifacts",
        "description": "Retrieves a collection of artifacts available for a document",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactCollection"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{documentId}/artifacts/{artifactId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Download Artifact",
        "description": "Downloads a specific artifact from a document",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "artifactId",
            "in": "path",
            "required": true,
            "description": "Artifact unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for image artifacts",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/archive": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Archive Documents",
        "description": "Retrieves all documents in the archive for a specific company or all companies accessible to the API key",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "description": "Filter documents by company identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Search documents by file name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of archived documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveDocumentCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/generalledgers": {
      "get": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "List General Ledgers",
        "description": "Returns a list of general ledgers as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of general ledgers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralLedgerCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Create General Ledger",
        "description": "Creates a new general ledger",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralLedgerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "General ledger created successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/generalledgers/{id}": {
      "get": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Get General Ledger Details",
        "description": "Returns details on a specific general ledger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "General ledger unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "General ledger details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralLedger"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Update General Ledger",
        "description": "Updates a specific general ledger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "General ledger unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralLedgerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "General ledger updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Delete General Ledger",
        "description": "Deletes a specific general ledger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "General ledger unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "General ledger deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/generalledgers/delete/bulk": {
      "put": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Bulk Delete General Ledgers",
        "description": "Deletes a collection of general ledgers by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of general ledger IDs to delete"
              },
              "example": [
                "00000000-0000-0000-0000-000000000001",
                "00000000-0000-0000-0000-000000000002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "General ledgers deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/generalledgers/delete/external/bulk/{companyExternalId}": {
      "put": {
        "tags": [
          "General Ledgers"
        ],
        "summary": "Bulk Delete General Ledgers by External ID",
        "description": "Deletes a collection of general ledgers by external IDs from a specific company",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of general ledger external IDs to delete"
              },
              "example": [
                "gl-ext-001",
                "gl-ext-002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "General ledgers deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/vatcodes": {
      "get": {
        "tags": [
          "VAT Codes"
        ],
        "summary": "List VAT Codes",
        "description": "Returns a list of VAT codes as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of VAT codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatCodeCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "VAT Codes"
        ],
        "summary": "Create VAT Code",
        "description": "Creates a new VAT code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VatCodeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "VAT code created successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/vatcodes/{id}": {
      "get": {
        "tags": [
          "VAT Codes"
        ],
        "summary": "Get VAT Code Details",
        "description": "Returns details on a specific VAT code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "VAT code unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatCode"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "VAT Codes"
        ],
        "summary": "Update VAT Code",
        "description": "Updates a specific VAT code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "VAT code unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VatCodeRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "VAT code updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "VAT Codes"
        ],
        "summary": "Delete VAT Code",
        "description": "Deletes a specific VAT code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "VAT code unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT code deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatspecifications/{vatSpecificationId}": {
      "delete": {
        "tags": [
          "VAT Specifications"
        ],
        "summary": "Delete VAT Specification",
        "description": "Removes a VAT Specification from your company's system (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "vatSpecificationId",
            "in": "path",
            "required": true,
            "description": "VAT Specification unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT Specification deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatspecifications/external/{companyExternalId}/{vatSpecificationExternalId}": {
      "delete": {
        "tags": [
          "VAT Specifications"
        ],
        "summary": "Delete VAT Specification by External ID",
        "description": "Removes a VAT Specification using external identifiers (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "Company external identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vatSpecificationExternalId",
            "in": "path",
            "required": true,
            "description": "VAT Specification external identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT Specification deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatspecifications/delete/bulk": {
      "put": {
        "tags": [
          "VAT Specifications"
        ],
        "summary": "Bulk Delete VAT Specifications",
        "description": "Deletes a collection of VAT Specifications by their IDs (Belgium Accounting Systems only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of VAT Specification IDs to delete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VAT Specifications deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatperiods": {
      "get": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "List VAT Periods",
        "description": "Returns a list of VAT Periods as a collection (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "External VAT Period unique identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of VAT Periods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatPeriodCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "Create VAT Periods",
        "description": "Creates one or a list of VAT Periods for your company (Belgium Accounting Systems only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VatPeriodCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "VAT Period(s) created successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "Update VAT Periods",
        "description": "Updates one or a list of VAT Periods (Belgium Accounting Systems only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VatPeriodUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "VAT Period(s) updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatperiods/{vatPeriodId}": {
      "get": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "Get VAT Period Details",
        "description": "Returns details on a specific VAT Period (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "vatPeriodId",
            "in": "path",
            "required": true,
            "description": "VAT Period unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT Period details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatPeriod"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "Delete VAT Period",
        "description": "Deletes a specific VAT Period (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "vatPeriodId",
            "in": "path",
            "required": true,
            "description": "VAT Period unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT Period deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accountingsystems/wkbelgium/vatperiods/external/{companyExternalId}/{vatPeriodExternalId}": {
      "delete": {
        "tags": [
          "VAT Periods"
        ],
        "summary": "Delete VAT Period by External ID",
        "description": "Deletes a VAT Period using external identifiers (Belgium Accounting Systems only)",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "Company external identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vatPeriodExternalId",
            "in": "path",
            "required": true,
            "description": "VAT Period external identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VAT Period deleted successfully"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costcenters": {
      "get": {
        "tags": [
          "Cost Centers"
        ],
        "summary": "List Cost Centers",
        "description": "Returns a list of cost centers as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cost centers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenterCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/costcenters/{id}": {
      "delete": {
        "tags": [
          "Cost Centers"
        ],
        "summary": "Delete Cost Center",
        "description": "Deletes a specific cost center",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Cost center unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost center deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costcenters/delete/bulk": {
      "put": {
        "tags": [
          "Cost Centers"
        ],
        "summary": "Bulk Delete Cost Centers",
        "description": "Deletes a collection of cost centers by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of cost center IDs to delete"
              },
              "example": [
                "00000000-0000-0000-0000-000000000001",
                "00000000-0000-0000-0000-000000000002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost centers deleted successfully"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costunits": {
      "get": {
        "tags": [
          "Cost Units"
        ],
        "summary": "List Cost Units",
        "description": "Returns a list of cost units as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cost units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostUnitCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/costunits/{id}": {
      "delete": {
        "tags": [
          "Cost Units"
        ],
        "summary": "Delete Cost Unit",
        "description": "Deletes a specific cost unit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Cost unit unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost unit deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costunits/delete/bulk": {
      "put": {
        "tags": [
          "Cost Units"
        ],
        "summary": "Bulk Delete Cost Units",
        "description": "Deletes a collection of cost units by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of cost unit IDs to delete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost units deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costunits/external/{companyExternalId}/{costUnitExternalId}": {
      "delete": {
        "tags": [
          "Cost Units"
        ],
        "summary": "Delete Cost Unit by External ID",
        "description": "Removes a cost unit from a specific company using external identifiers",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "costUnitExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the cost unit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost unit deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/costunits/delete/external/bulk/{companyExternalId}": {
      "put": {
        "tags": [
          "Cost Units"
        ],
        "summary": "Bulk Delete Cost Units by External ID",
        "description": "Deletes a collection of cost units by external IDs from a specific company",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of cost unit external IDs to delete"
              },
              "example": [
                "costunit-ext-001",
                "costunit-ext-002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost units deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Projects",
        "description": "Returns a list of projects as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/{id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Project",
        "description": "Deletes a specific project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects/delete/bulk": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Bulk Delete Projects",
        "description": "Deletes a collection of projects by their IDs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Array of project IDs to delete"
              },
              "example": [
                "00000000-0000-0000-0000-000000000001",
                "00000000-0000-0000-0000-000000000002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projects deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects/external/{companyExternalId}/{projectExternalId}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Project by External ID",
        "description": "Removes a project from a company using external identifiers",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the project",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects/delete/external/bulk/{companyExternalId}": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Bulk Delete Projects by External ID",
        "description": "Deletes a collection of projects by external IDs from a specific company",
        "parameters": [
          {
            "name": "companyExternalId",
            "in": "path",
            "required": true,
            "description": "External identifier of the company",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of project external IDs to delete"
              },
              "example": [
                "project-ext-001",
                "project-ext-002"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projects deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/periods": {
      "get": {
        "tags": [
          "Periods"
        ],
        "summary": "List Periods",
        "description": "Returns a list of periods as a collection",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of periods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeriodCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Periods"
        ],
        "summary": "Create Period",
        "description": "Creates a new period",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeriodRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Period created successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/periods/{id}": {
      "get": {
        "tags": [
          "Periods"
        ],
        "summary": "Get Period Details",
        "description": "Returns details on a specific period",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Period unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Period details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Period"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Periods"
        ],
        "summary": "Update Period",
        "description": "Updates a specific period",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Period unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeriodRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Period updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Periods"
        ],
        "summary": "Delete Period",
        "description": "Deletes a specific period",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Period unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Period deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "description": "Returns users with access to the office. Takes into consideration the companies which the user has access and its highest privilege application role.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional fields to retrieve (e.g., 'settings' to include user settings)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "settings"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create User",
        "description": "Creates a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/users/currentUser": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current User",
        "description": "Returns the details of the currently authenticated user",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional fields to retrieve",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/authorization/{documentId}/reject": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Reject Document",
        "description": "Rejects a document in the authorization workflow (Premium feature)",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document rejected successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/change-authorizer": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Change Document Authorizer",
        "description": "Changes the authorizer assigned to a document (Premium feature)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAuthorizerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorizer changed successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/{documentId}/onhold": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Set Document On Hold",
        "description": "Places a document on hold in the authorization workflow (Premium feature)",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnHoldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document placed on hold successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/{documentId}/remove-onhold": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Remove Document From Hold",
        "description": "Removes a document from hold status in the authorization workflow (Premium feature). Reason is mandatory for Authorizer Administrator role, optional for other Authorizers.",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveOnHoldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document removed from hold successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/{companyId}/authorizers": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Company Authorizers",
        "description": "Returns a list of authorizers configured for a company (Premium feature)",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "description": "Company unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company authorizers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizerCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/{documentId}/actions": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Document Actions",
        "description": "Returns available authorization actions for a document (Premium feature)",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentActionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authorization/{documentId}/lines": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Document Lines",
        "description": "Retrieves the lines of a document during the authorization workflow (Premium feature)",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document lines for authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationDocumentLinesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhook Subscriptions",
        "description": "Returns a list of webhook subscriptions within an office",
[...]
